* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Navigation */
#navbar {
  background: #626567;
  position: sticky;
  top: 0;
  height: 70px;
}

#navbar .nav-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 70px;
}

#navbar .logo {
  font-size: 2.5rem;
  margin-left: 10px;
}

#navbar ul {
  display: flex;
  justify-self: end;
  list-style: none;
}

#navbar ul li a {
  padding: 20px 30px;
  margin-right: 5px;
}

#navbar ul li a:hover {
  background: #A6ACAF;
}