* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #ECF0F1;
  text-decoration: none;
}

/* Navigation */
#navbar {
  /* background: #626567; */
  /* background: #1B4F72; */
  background: #641E16;
  position: sticky;
  top: 0;
  height: 70px;
}

#navbar .nav-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 70px;
}

#navbar .logo {
  font-size: 2.5rem;
  margin-left: 10px;
}

#navbar ul {
  display: flex;
  justify-self: end;
  list-style: none;
}

#navbar ul li a {
  padding: 20px 30px;
  margin-right: 5px;
}

#navbar ul li a:hover {
  background: #922B21;
}

/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  position: relative;
  height: 95vh;
}

#showcase h1 {
  font-size: 6rem;
}

#showcase p {
  font-size: 2rem;
}

#showcase::before {
  content: '';
  background: url('../img/tokyotowerview.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#showcase .showcontent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.showcontent h1 {
  grid-column: 1 / span 3;
  z-index: 1;
  align-self: stretch;
}

.showcontent p {
  grid-column: 2 / span 2;
  z-index: 1;
  align-self: flex-start;
}

.showcase-container {
  padding-top: 200px;
  padding-left: 30px;
}

